
@{
    ViewData["Title"] = "Contact Us";
}

<div class="mb-5">
    <h2 class="fw-semibold">Contact Us</h2>
    <hr />
</div>
<div class="row">

    <div class="col-md-9">
        <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-2">
            <h1 class="text-body-emphasis">WellCome To Our Store</h1>
            <p class="col-lg-6 mx-auto mb-4">
                You Can Contact Us Through Communication Channels
            </p>
            <button class="btn btn-primary px-5 mb-5" type="button"> 
                Call to action
            </button>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-bg-light mb-3" style="max-width: 20rem; height: 310px;">
            <div class="card-header">Ways To Contact Us</div>
            <div class="card-body">
                <p class="card-text">09216594646</p>
                <p class="card-text">9224265847</p>
                <p class="card-text">info@mail.com</p>
            </div>
        </div>
    </div>
</div>